<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">EJS Inicio</a>

    <a class="navbar-brand" href="/productos">Productos</a>
  </div>
</nav>
